# Зависимости
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Сборка проекта
dist
dist-ssr
*.local

# Кэш
.cache
.temp

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Среды окружения
.env
.env.local
.env.*.local

# Системные файлы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Тестирование
coverage/
.nyc_output

# Документация
storybook-static/